body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url(https://upload.wikimedia.org/wikipedia/en/thumb/0/03/Flag_of_Italy.svg/2560px-Flag_of_Italy.svg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
}

body > div {
    display: flex;
    justify-content: center;
}